li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

body{
    height: 100vh;
    margin: 0;
    
    color: white;
    background-color: black;
    font-family:monospace ;
    display: flex;
    flex-direction: column;

}

.logo{
    height: 50px;
    width: auto;
}

.mainimage{
    height: 400px;
    width: auto;
    border: 5px solid rgb(143, 143, 143) ;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    
}


.head-items{
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    font-size: 15px;
   
}

.content{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color:aliceblue;
    color: black;
    padding-bottom: 70px;
    padding-top: 70px;
    gap:80px;
    

}
.content-text li{
    margin-bottom: 20px;
    font-size: 20px;
    margin: 0;  
    padding: 0; 
    width: 350px;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    font-size: 20px;
    
    
}

.contact-text{
    font-size: 40px;
    
}

.resume{
    background-color:aliceblue;
    color: black;
}

.skill-dev{
    background-color: aliceblue;
    color: black;
    
    text-align: center;
    padding: 16px;
    background-color:aliceblue;
    border-radius: 8px;
    width: 300px;
    
    height:600px ;
    
    
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px;
    gap: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
     
}


#skills{
    list-style-type: none;
    padding : 0px;
    margin-top: 20px;


}

#heading{
    font-size: 25px;
    text-align: center;
    font-weight: 1000;
}
#skills>li{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 550;
}







